<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> &nbsp </title>

    <link rel="stylesheet" href="vendor/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/css/aos.css">
    <link rel="stylesheet" href="vendor/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/css/animate.min.css">
    <link rel="stylesheet" href="vendor/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="vendor/css/toastify.css">
    
    <!-- main css -->
    <link rel="stylesheet" href="static/css/style.css">

</head>
<body class="body_class">
  <div class="bg_set_1">
    <nav class="navbar fixed-top navbar-expand-lg navmain">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="static/img/logo/navlogo.png" alt="" width="250" height="50" id="nav-logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link nav-manu" id="home_manu" href="#">
                      Courses
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-manu" id="login_manu" href="#">
                      Log Out
                    </a>
                </li>
               
            </ul>
        </div>
    </nav>

    
    <div class="container" style="height: 1000px;">
      <div class="row">
        <div class="col-md-3">
            <div class="card-outer">
                <div class="card-inner" style="width: 30%;">
                  <label class="form-check-label" >
                    <span style="font-size: 14px;">Enrolled</span>
                  </label>
                 
                  
                
                </div>
                
                <div class="card">
                    <img src="/static/img/plastic.jpg" class="card-img-top" alt="" style="border-radius:15px;max-width: 600px;max-height: 500px;">
                    
                    <div class="card-body">
                    <h6 class="card-title">Plastic Waste Management</h6>
                    <div class="card-body-h text-center">
                      <p class="card-text">Youth-led action against plastic waste</p>
                      <a href="#" class="btn btn-sm" style="background-color: #FFCC33;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                          <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                          <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                        </svg>
                        Deep Drive
                      </a>
                  </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
          <div class="card-outer">
            <div class="card-inner" style="width: 30%;">
              <label class="form-check-label" >
                <span style="font-size: 10px;"></span>
              </label>
             
            
            </div>
            
            <div class="card">
                <img src="/static/img/bio_diversity.jpg" class="card-img-top" alt="" style="border-radius:15px;max-width: 600px;max-height: 500px;">
                
                <div class="card-body">
                <h6 class="card-title">Importance of Biodiversity</h6>
                <div class="card-body-h text-center">
                  <p class="card-text">BIodiversity is a contraction of biological diversity.</p>
                  <a href="#" class="btn btn-sm" style="background-color: #FFCC33;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                      <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                      <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                    </svg>
                    Deep Drive
                  </a>
              </div>
                </div>
            </div>
          </div>
         
         
        </div>

        <div class="col-md-3">
         
        </div>
        <div class="col-md-3">
         
         
        </div>
      </div>
      
     
    </div>
      

  </div>








    


<script src="vendor/js/bootstrap.min.js"></script>
<script src="vendor/js/jquery.min.js"></script>
<script src="vendor/js/aos.js"></script>
<script src="vendor/js/toastify.js"></script>



</body>


</html>