<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<body>
<div class="row">
            <div class="col-md-12 text-center header_a" style="background-color: #99C5AE;margin-top:25px;">

                Score Card
            </div>

</div>
<div class="row">
            <div class="col-md-12 text-center" style="margin-top:25px;">

                <div class="score">
                    Your Score: <span  id="gamescore" class="scored-point" th:text="${score.scoreGame}"></span>
                </div>
            </div>
</div>

</body>
</html>