<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> &nbsp </title>

    <link rel="stylesheet" href="./student_assets/vendor/css/bootstrap.min.css">
    <link rel="stylesheet" href="./student_assets/vendor/css/aos.css">
    <link rel="stylesheet" href="./student_assets/vendor/css/font-awesome.min.css">
    <link rel="stylesheet" href="./student_assets/vendor/css/animate.min.css">
    <link rel="stylesheet" href="./student_assets/vendor/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="./student_assets/vendor/css/toastify.css">
    
    <!-- main css -->
    <link rel="stylesheet" href="./student_assets/static/css/style.css">

</head>
<body class="body_class">
  <div class="bg_set_1">
    
    <nav class="navbar fixed-top navbar-expand-lg navmain">
      <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="./student_assets/static/img/logo/navlogo.png" alt="" width="250" height="50" id="nav-logo">
          </a>
          <button type="button" class="navbar-toggler text-light" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
            </svg>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
              
              
          </div>
      </div>
    </nav>
    
    <div class="container" style="height: 1000px;">
      <div class="row">

        
        <div class="col-md-12" style="margin-top: 15rem;">
        
                
                <div class="custom-card">
                   <div class="custom-card-body">

                    <h3 class="text-center">
                        IMPRINT
                    </h3>
                    <h4>
                        Herausgeber:

                    </h4>
                    <p>
                        SOCEO gGmbH<br>
                        Laiblinstegstr. 7 <br>
                        72622 Nürtingen<br>
                        <a href="https://info@soceo.de">info@soceo.de</a><br>
                        <a href="https://www.soceo.de">www.soceo.de</a>
                    
                    </p>
                    

                    <p>

                      Handelsregisternummer: HRB 764 698 <br>

                      Zuständiges Gericht: Amtsgericht Stuttgart<br>
                      
                      Geschäftsführung: Sujoy Chatterjee und Jörn Ziegler<br>
                      
                      Redaktionell verantwortlich: Sarah Gekeler<br>
                      
                      Haftungsausschluss: Es wird keine Verantwortung für Inhalte verlinkter Internetseiten übernommen. Die redaktionelle Verantwortung bezieht sich auf Inhalte dieser Seite <a href="https://www.changemakers-plastic.com">www.changemakers-plastic.com</a>
                  </p>
                   </div>
                    
                </div>
            
        </div>
        

      </div>
      
     
    </div>
      

  </div>








<script src="./student_assets/vendor/js/bootstrap.min.js"></script>
<script src="./student_assets/vendor/js/jquery.min.js"></script>
<script src="./student_assets/vendor/js/aos.js"></script>
<script src="./student_assets/vendor/js/toastify.js"></script>



</body>


</html>