<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

      <link href="../css/login_page.css" rel="stylesheet">
     <title>Login</title>
  </head>

  <body >

     <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                   <img src="../images/logo_changemaker.png"  class="img-fluid customimage">
                </div>
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="mb-4">
                                <h3>Sign in as Student</h3>
                                <p class="mb-4"></p>
                            </div>

      <form th:object="${studentLoginForm}" th:action="@{login}" method="post"  >
                                <div class="form-group first mb-4">
                                    <label for="email" >Email</label>
                                    <input type="text" class="form-control" th:field="*{studentEmail}" id="email" required>
                                </div>
                                <div class="form-group last mb-4">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password" th:field="*{studentPassword}" required>
                                </div>
                                <div class="d-flex mb-5 align-items-center">
                                    <label class="control control--checkbox mb-0"><span class="caption">Remember me</span>
<input type="checkbox" checked />
<div class="control__indicator"></div>
</label>
                                    <span class="ml-auto"><a href="#" class="forgot-pass">Forgot Password</a></span>
                                </div>
                                
                                <input type="submit" value="Log In" class="btn btn-block btn-primary">
                                
                               <p class="col-md-13" style="text-align: center;color:#6c63ff;margin-top: 20px;">&mdash; or  &mdash;</p>
                                <div style="text-align: center;margin-top: -10px">
                                    <a th:href="@{/student/registration}" >Register with the changemakers</a>
                                </div>
                            </form>
</div>
</div>
</div>
</div>
</div>
</div>
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
   <script src="../js/bootstrap.min.js"></script> 
    <script>
        var mod_pagespeed_DPOuBfjpPE = "$(function() {\n	'use strict';\n	\n  $('.form-control').on('input', function() {\n	  var $field = $(this).closest('.form-group');\n	  if (this.value) {\n	    $field.addClass('field--not-empty');\n	  } else {\n	    $field.removeClass('field--not-empty');\n	  }\n	});\n\n});";
    </script>
    <script>
        eval(mod_pagespeed_DPOuBfjpPE);
    </script>
  </body>
</html>